.account-container{
  height: 100vh;
  width: 100%;
  color: var(--dark-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
  /* border: 1px solid red; */
}

.account-errors-contaier {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

.personal-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* border: 1px inset red; */
}

.personal-info-items {
  /* border: 1px inset red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* gap: 40px; */
  margin: 20px 40px 0 40px;
}

.personal-info-user-creds {
  width: 40%;
  /* border: 1px solid red; */
  background-color: var(--dark-white);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}



/* .personal-info-item {
  padding: 10px;
  color: var(--dark-black);
  background-color: var(--dark-white);
  border-radius: 10px;
  height: 100px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.personal-info-item-title {
  color: var(--dark-black);
}

.personal-info-item p {
  font-size: 20px;
  color: var(--dark-black)
}

.personal-info-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal-info-item-edit-row {
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
}

.account-danger-zone-container {
}
