.add-song-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-white);
  border-radius: 10px;
  padding: 8px;
  height: 220px;
  width: 400px;
  border: 2px solid var(--dark-black);
}

.add-song-modal-btns{
  display: flex;
  justify-content: space-between;
}