.playlist-cards-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px;
  /* border: 1px solid red; */
  overflow-y: auto;
  width: 100%;
}