.song-card-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: var(--dark-black);
  padding: 8px;
  border-radius: 10px;
  margin: 0 20px 10px 20px;
  width: 100%;
  /* height: 100px; */
}

.song-card-rows-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 100%;
}

.song-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}